<% if (page.type) { %>
    <%- partial('partials/sidebar', { type: page.type, index: page.index }) %>
<% } %>
<div class="content <%- page.type ? page.type + ' with-sidebar' : '' %>">
    <h1><%- page.title %><%- page.type === 'examples' ? ' Example' : '' %></h1>
    <%- page.content %>
    <div class="footer">捕捉了错误或者想给文档做一些贡献？就 <a href="https://github.com/vuejs/vuejs.org" target="_blank">Fork this site on Github</a>!
        <!-- Site Meter -->
    <a href="http://s30.sitemeter.com/stats.asp?site=s30vuejsnet" target="_top">
    <img src="http://s30.sitemeter.com/meter.asp?site=s30vuejsnet" alt="Site Meter" border="0"/></a>
    <!-- Copyright (c)2009 Site Meter -->
    </div>
</div>