<% if (page.type) { %>
    <%- partial('partials/sidebar', { type: page.type, index: page.index }) %>
<% } %>
<div class="content <%- page.type ? page.type + ' with-sidebar' : '' %>">
    <h1><%- page.title %><%- page.type === 'examples' ? ' Example' : '' %></h1>
    <%- page.content %>
    <div class="footer">捕捉了错误或者想给文档做一些贡献？就 <a href="https://github.com/vuejs/vuejs.org" target="_blank">Fork this site on Github</a>!</div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- First Test -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-8375597554605570"
             data-ad-slot="9790761642"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
</div>